name: Build k8s-snap

permissions:
  contents: read

on:
  push:
    branches:
      - v1.6.0
  workflow_call:
    inputs:
      flavor:
        description: k8s-snap flavor (e.g. moonray or strict)
        type: string
    outputs:
      snap-artifact:
        description: Name of the uploaded snap artifact
        value: ${{ jobs.build-snap.outputs.snap-artifact }}

jobs:
  build-snap:
    name: Build snap
    runs-on: ubuntu-latest
    outputs:
      snap-artifact: ${{ steps.build.outputs.snap-artifact }}
    steps:
      - name: Checking out repo
        uses: actions/checkout@v4
      - name: Install lxd
        uses: ./.github/actions/install-lxd
      - name: Install snapcraft
        run: |
          sudo snap install snapcraft --classic
      - name: Build k8s snap
        run: |
          out_snap=k8s.snap

          sudo --user "$USER" --preserve-env --preserve-env=PATH -- env -- snapcraft --use-lxd
          mv k8s_*.snap $out_snap

          echo "snap-artifact=$out_snap" >> "$GITHUB_OUTPUT"
      - name: Upload k8s snap
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.build.outputs.snap-artifact }}
          path: ${{ steps.build.outputs.snap-artifact }}
